# Node.js dependencies
node_modules/

# TypeScript compiled output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# TypeScript cache
*.tsbuildinfo

# Miscellaneous
.DS_Store