# Node.js
node_modules/

# TypeScript
dist/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db

# PostgreSQL
*.pgdata
*.pg_dump

# Drizzle
migrations/

# Neon
*.neon*